@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <smal>Testes de geração de boletos da Caixa Econômica Federal com registro online.</smal>
    <p>
        <a href="@Url.Action("GerarBoleto")" target="_blank" class="btn" title="Imprimir Boleto">
            Gerar Boleto
        </a>
    </p>
</div>